# URL dell'API (può essere modificata in base all’ambiente)
API_URL= http://servizio-kubernetes.namespace.svc.cluster.local:8000/recommend

# Google Cloud Storage settings
GCS_BUCKET_NAME= nome-del-tuo-bucket-gcs
PROCESSED_DATA_BLOB= sottocartella-bucket-datasetpreprocessato/datasetpreprocessato.csv
MODEL_FILE_BLOB= sottocartella-bucket-modello/modello.pkl
