# configuration variables
# ui
API_URL= ADD_API_URL_HERE   
example: http://k8s-service-name (api-service).k8s-namespace-name (default).dns-domain-k8s (svc.cluster.local):port (8000)/endpoint (recommend)

# bucket
GCS_BUCKET_NAME= ADD_BUCKET_NAME_HERE

# bucket paths
GCS_RAW_MOVIES_BLOB=ADD_RAW_MOVIES_PATH_HERE
GCS_RAW_CREDITS_BLOB=ADD_RAW_CREDITS_PATH_HERE
GCS_PROCESSED_BLOB=ADD_PROCESSED_PATH_HERE
GCS_MODEL_BLOB=ADD_MODEL_PATH_HERE
