# configuration variables
# ui
API_URL= ADD_API_URL_HERE

# bucket
GCS_BUCKET_NAME= ADD_BUCKET_NAME_HERE

# bucket paths
GCS_RAW_MOVIES_BLOB=ADD_RAW_MOVIES_PATH_HERE
GCS_RAW_CREDITS_BLOB=ADD_RAW_CREDITS_PATH_HERE
GCS_PROCESSED_BLOB=ADD_PROCESSED_PATH_HERE
GCS_MODEL_BLOB=ADD_MODEL_PATH_HERE